.pop-wrapper{
  margin: 10px 15px;
  padding-top:25px;
}

.cardwrapper{
  display:flex;
  padding-top:25px;

}

.title{
  text-align: left;
}

.pop-info{
  margin:15px;
}

.pop-card{
  max-width:30%;
  margin:10px 20px;
  text-align: center;
  transition: all .2s ease-in;
  flex: 0 0 28%;
  padding-bottom:20px;
}

.pop-card:hover{
  box-shadow:0 14px 28px rgba(0,0,0,0.18), 0 10px 10px rgba(0,0,0,0.14);
  transform: translateY(-20px);
  cursor:pointer;
}

.pop-img{
  padding: 20px;
  overflow:hidden;
  background-color: #EFEFEF;
}

.pop-img img{
  max-width:100%;
}

@media (max-width:768px) {
  .cardwrapper{
    flex-flow: column;
    align-items:center;
    margin-top:20px;
  }
  .pop-card{
    max-width:100%;
    text-align: left;
  }
}
