.process{
  display:flex;
  margin: 15px 30px;
  flex-flow:column;
  overflow:hidden;
}

.process-info{
  background-color:#2E4B6C;
  padding:25px;
  margin-bottom: 5%;
}

.process-info>h3, .process-info>h2, .process-info>p {
  color:white;
  padding-bottom:15px;
}

.process-img{
  max-width:100%;
  min-width:50%;
  position:relative;
  right:11%;
}

.process-img img{
  width:100%;
}

@media (min-width:758px) {
  .process{
    flex-flow: row;
  }
  .process-info{
    z-index:2;
    position: relative;
    left:6%;
    top:30px;
    min-width: 50%;
  }
}
