footer {
  background: #2e4b6c;
  width: 100%;
  height: auto;
  padding: 40px 0;
  text-align: center;
  color: white;
  position: relative;
  bottom: 0;
}

.footerstart {
  display: flex;
  justify-content: center;
  align-items: center;
}


.footerlogos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0% 10%;
}

.footerlogos img {
  max-width: 200%;
  height: auto;

}

.footerend{
  display: flex;
}

.footertext {
  justify-content: center;
  align-items: center;
  margin: 3% auto  ;
  max-width: 30%;
  font-size: 14px;
}


/* media queries */

@media screen and (max-width : 768px) {
  footer {
    height: auto;
  }

  .footerstart{
    display: flex;
  }
  .footerlogos {
    justify-content: center;
    align-items: center;
    margin: 0 10%;
  }

  .footerlogos img {
    /* max-width: 100px; */
    height: auto;
  }

  .footertext {
    justify-content: center;
    align-items: center;
    margin: 3% auto  ;
    max-width: 20%;

  }

}

@media screen and (max-width : 414px) {
  footer {

    height: auto;

  }
  .footerstart {
    display: block;
  }
  .footerend {
    display: block;
  }
  .footerlogos {
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }

  .footerlogos img {
    max-width: 40%;
    height: auto;
  }

  .footertext {

    justify-content: center;
    align-items: center;
    margin: 3% auto  ;
    max-width: 60%;

  }

}
