@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto');

*{
  padding:0;
  margin:0;
}

.row{
  max-width:1440px;
  display:flex;
  justify-content: space-between;
  padding: 100px 25px 50px;
  margin: 0 auto;
}

h2{
  font-size: 1.6em;
}
h3{
  font-size:2.5em;
  font-family: 'Open Sans';
  font-weight:300;
}

.vaultboy{
  margin-left: 8.33%;
}

.contentwrapper{
  margin-left: 8%;
  flex: 0 0 41.666%;
  position:relative;
  padding: 0 15px;
  font-size:1.5em;
  display:flex;
  flex-direction: column;
  flex: wrap 50%;
}


.button{
  background-color: var(--blue);
  color:white;

}
