.row{
  max-width:1500px;
  display:flex;
  padding-top: 100px;
  padding-bottom: 50px;
  flex: 0 0 49%;
}


.contentwrapper{
  max-width:100px;
  margin-left: 8%;
  flex: 0 0 41.666%;
  position:relative;
  padding: 0 15px;
}
