@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto');

*{
  padding:0;
  margin:0;
}

.row{
  max-width:1440px;
  display:flex;
  justify-content: space-between;
  padding: 100px 25px 50px;
  margin: 0 auto;
}

h2{
  font-size: 1.4em;
  font-weight:normal;
  line-height:1.2;
}
h3{
  font-size:2.5em;
  font-family: 'Open Sans';
  font-weight:300;
  margin-bottom: 30px;
}

p{
  margin-bottom:1em;
}
.vaultboy{
  margin-left: 8%;
}

.vaultboy img{
  max-width: 100%;
  height:auto;
}


.contentwrapper{
  margin-left: 8%;
  margin-right:8%;
  position:relative;
  padding: 0 25px;
  font-size:1.5em;
  align-self: center;
}

a{
  font-size:1em;
  text-transform: capitalize;
  text-decoration: none;
  color:white;
  letter-spacing: .05em;
}

.button{
  width:150px;
  background-color: var(--blue);
  cursor:pointer;
  padding:10px 25px;
  text-align: center;
  margin-top: 30px;
}

.button:hover{
  box-shadow: 0px 4px 20px rgba(0,0,0,0.3);
  background-color: #3c71ad;
}
