.nav {
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4e7eb4;
  width: 100%;
  height: 50px;

}

.nav li {
  display: inline-flex;
  justify-content: space-between;
  list-style-type: none;

}

.nav a {
  padding: 10px 20px;
  color: #f8ec7d;
  text-decoration: none;
  font-size: 14px;
}


.nav a:hover  {
  background-color: #7197c3;
  transition: 0.5s;
}



@media screen and (max-width : 414px) {

  .nav li {
    display: block ;
    justify-content: center;
    list-style-type: none;
  

  }
}
