.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4e7eb4;
  height: 70px;
}

.nav li {
  display: inline-block;
  list-style-type: none;
}

.nav a {
  padding: 30px;
  height: auto;
  color: #f8ec7d;
  text-decoration: none;
}


.nav a:hover  {
  background-color: #7197c3;
  transition: 0.5s;
}
